{% extends "main.html" %}
{% block content %}
{% include "navbar.html" %}

<div id="content">
	<div class = 'flash'>
			      {% with messages = get_flashed_messages() %}
	      {% if messages %}
	          
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}

	</div>
	
	{% if item !=[] %}	
		<div class="item-header">
			{{item.name}}
		</div>
		<div class="item">
			{% if item.picture %}
				<img src="{{item.picture}}">
			{% endif %}
			<p>{{item.description}}</p>
		</div>
	{% endif %}
</div>

{% endblock %}
